.modal
  .modal__overlay
  .modal__content
    .login-card
      h1.login-card__title Вход
      form(method="post" onsubmit="return false;").login-form
        |!{login}
        |!{password}
        .gap
        |!{button}
        |!{link}
