.navigation
  .navigation__top
    a(href="/profile").profile-link Профиль ❯
    a(href="/login").profile-link Login
    input.navigation__search(type="text" placeholder="Поиск")
    .chat-list-region