doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    .error
      h1.error__title 404
      p.error__text Не туда попали
      a(href="../index/index.pug").error__link Назад к чатам
    script(src='error404.js')
    