.content
  .profile-navigation
    a(href="../index/index.pug").back-link ❮
  .profile
    img(src=picture alt="Profile image").profile__picture
    p.profile__name Иван
    |!{email}
    |!{login}
    .rows
      .profile__row
        .profile__key Почта
        .profile__value pochta@yandex.ru
      .profile__row
        .profile__key Логин
        .profile__value ivanivanov
      .profile__row
        .profile__key Имя
        .profile__value Иван
      .profile__row
        .profile__key Фамилия
        .profile__value Иванов
      .profile__row
        .profile__key Имя в чате
        .profile__value Иван
      .profile__row
        .profile__key Телефон
        .profile__value +7 (909) 967 30 30
    .rows
      .profile__row
        a(href="/").profile__link Изменить данные
      .profile__row
        a(href="/").profile__link Изменить пароль
      .profile__row
        a(href="/").profile__link.profile__link_danger Выйти