doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    .modal
      .modal__overlay
      .modal__content
        .login-card
          h1.login-card__title Вход
          form(action="post").login-form
            label.login-card__label Логин
            input(name="login" value="ivanivanov").login-card__input
            label(for="password").login-card__label Пароль
            input(name="password" type = "password").login-card__input
            button.login-card__button Авторизироваться
            a(href="../registration/registration.pug").login-card__link Нет аккаунта?
  script(src='login.ts')

