.text-message {
  position: relative;
  background: #f8f8f8;
  max-width: 380px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1e1e1e;
  border-radius: 16px;
  padding: 10px;
  padding-bottom: 20px;
  border-top-left-radius: 0;
  margin-bottom: 10px;
  &__time {
    position: absolute;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    /* identical to box height, or 100% */

    text-align: right;

    color: #999999;
    bottom: 10px;
    right: 10px;
  }
}
