@import '../../css/common.scss';
@import '../../css/mixin.scss';

.login-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  textarea:focus,
  input:focus {
    outline: none;
  }
  &__title {
    @include title;
  }

  
  .gap {
    margin-bottom: 160px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}
