@import '../../css/common.scss';
@import '../../css/mixin.scss';

.login-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  textarea:focus,
  input:focus {
    outline: none;
  }
  &__title {
    @include title;
  }

  &__label {
    @include label;
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
    margin-bottom: 14px;
    cursor: pointer;
  }

  &__link {
    @include link;
  }
  .errors {
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #ff2f2f;
    margin-bottom: 18px;
  }
  .password-errors {
    margin-bottom: 160px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}
