.chat-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: stretch;
  justify-items: stretch;
  position: relative;
}

.chat-header-region {
  position: sticky;
  top: 0;
  z-index: 10;
  right: 0;
  left: 0;
  background: white;
}

.messages-list-region {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 100px;
  flex-grow: 2;
}

.message-input-region {
  position:fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  background: white;
  margin-left: 30%; 
}
