@import '_variables.scss';

@mixin center {
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  height: 100%px;
}

@mixin button {
  background: $colorBlue;
  border: none;
  height: 37px;
  border-radius: 8px;
  color: white;
}

@mixin link {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color:  $colorBlue;
  text-decoration: none;
  text-align: center;
}

@mixin label {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
  margin-bottom: 4px;
}

@mixin input {
  border: none;
  outline: none;
  border-bottom: 1px solid $colorBlue;
  margin-bottom: 18px;
  padding-bottom: 6
  px;
}

@mixin title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #1e1e1e;
}

@mixin content {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}