doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    .modal
      .modal__overlay
      .modal__content
        .modal-card
          h1.modal-card__title Добавить пользователя
          form(action="post").login-form
            label.modal-card__label Логин
            input(name="login" value="ivanivanov").modal-card__input
            button.modal-card__button Добавить
  script(src='add-user.js')

